$mobilePortrait: 320px;
$iphonePlus: 414px;
$mobileLandscape: 480px;
$tablet: 768px;
$iPadPro: 834px;
$desktop: 992px;
$iPadPro12: 1023px;
$largeDesktop: 1200px;
$biggerScreen: 2074px;
$biggerScreen2: 2559px;

@media screen and (min-width: $mobilePortrait) {
  html {
    font-size: 65%;

    @import 'components/mobile-menu';

    .content-area {
      /* Home page products */
      .products {
        gap: 10em;

        li {
          .price,
          .wp-element-button {
            font-size: 2rem;
          }
        }
      }

      /* Single product page */
      .product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .woocommerce-product-gallery__image {
          display: flex;
          justify-content: center;

          a {
            img {
              width: 25em;
              height: 25em;
            }
          }
        }

        .entry-summary {
          justify-content: center;
          align-items: center;
          gap: 3em;

          .price {
            font-weight: bold;
            font-size: 1.5rem;
          }

          .cart {
            gap: 1em;

            input {
              font-size: 1.5rem;
            }

            .wp-element-button {
              font-weight: bold;
              font-size: 1.5rem;
            }
          }
        }

        .related {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          h2 {
            font-size: 3rem;
            text-transform: capitalize;
            margin-bottom: -2em;
          }

          .woocommerce-LoopProduct-link {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3em;

            img {
              width: 25em;
              height: 25em;
            }

            .price {
              font-size: 1.5rem;
            }
          }

          .wp-element-button {
            font-size: 1.5rem;
          }
        }
      }
    }

    /* Cart page */
    .woocommerce {
      .woocommerce-cart-form {
        thead {
          .product-name {
            display: none;
          }
        }

        tbody {
          .product-name {
            display: none;
          }
        }
      }

      .actions {
        label {
          font-size: 1.5rem;
        }

        .input-text,
        .submit {
          box-shadow: 0 0 6px gray;
        }

        #update-cart-btn {
          margin-top: 4em;
          float: none;
        }
      }

      .cart-collaterals {
        h2 {
          font-size: 3rem;
        }

        table {
          td {
            max-width: 5em;
          }
        }

        .wc-proceed-to-checkout {
          font-size: 1.5rem;
        }
      }

      /* Checkout Page */
      .checkout {
        #customer_details {
          flex-direction: column;

          .woocommerce-billing-fields,
          .woocommerce-shipping-fields {
            .form-row {
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }

    /* My Account Page */
    .woocommerce-account {
      .woocommerce {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3em;

        .woocommerce-MyAccount-content {
          padding: 0;
        }
      }
    }

    /* Search overlay */
    .search-wrapper-hidden {
      .search-input-field {
        .placeholder-search-icon {
          position: absolute;
          left: 0;
          top: 12px;
          font-size: 3rem;
          color: lightgray;
          margin-left: 1em;
        }

        input {
          font-size: 2.5rem;
          padding: 0.5em 0.5em 0.5em 2.2em;
        }

        .close-icon {
          position: absolute;
          top: 0;
          right: -10px;
          font-size: 2rem;
        }
      }
    }
  }
}

@media screen and (min-width: $iphonePlus) {
  html {
    .search-wrapper-hidden {
      .search-input-field {
        .placeholder-search-icon {
          left: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: $mobileLandscape) {
  html {
    .search-wrapper-hidden {
      .search-input-field {
        .placeholder-search-icon {
          left: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: $tablet) and (orientation: portrait) {
  html {
    font-size: 90%;

    .site_header {
      .header-wrapper {
        .nav-container {
          .dashicons-search {
            right: 100px;
            top: 12px;
          }

          .hamburger {
            right: 15px;
            top: 10px;
          }
        }
      }
    }

    .content-area {
      .products {
        li {
          img {
            width: 30em;
            height: 30em;
          }

          .price,
          .wp-element-button {
            font-size: 1rem;
          }
        }
      }

      .product {
        flex-direction: column;
        flex-wrap: nowrap;

        .entry-summary {
          li {
            .price,
            .wp-element-button {
              font-size: 1rem;
            }
          }
        }
      }
    }

    .woocommerce {
      .checkout {
        #customer_details {
          .woocommerce-billing-fields,
          .woocommerce-shipping-fields {
            .form-row {
              justify-content: initial;
              align-items: initial;
            }
          }
        }

        #order_review {
          .woocommerce-checkout-payment {
            .place-order {
              button {
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }

    .search-wrapper-hidden {
      .search-input-field {
        .placeholder-search-icon {
          top: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: $iPadPro) and (orientation: portrait) {
  html {
    .search-wrapper-hidden {
      .search-input-field {
        .placeholder-search-icon {
          top: 22px;
        }
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  html {
    font-size: 100%;

    .site_header {
      box-shadow: none;
      background-color: transparent;

      .header-wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 0.5em;

        .logo {
          position: relative;
          top: 10px;
          left: 18px;
        }

        .nav-container {
          display: flex;
          justify-content: center;

          .nav-menu-wrapper {
            background-color: initial;
            position: relative;
            left: 200px;
            height: auto;
            width: fit-content;

            .menu-top-menu-container {
              ul {
                flex-direction: row;
                gap: 7em;

                li {
                  a {
                    font-size: 1.2rem;
                  }
                }
              }
            }
          }

          .hamburger {
            display: none;
          }

          .dashicons-search {
            position: relative;
            right: 100px;
            top: 18px;
            font-size: 1.5rem;
          }
        }
      }
    }

    .content-area {
      .products {
        gap: 6em;

        li {
          .price,
          .wp-element-button {
            font-size: 1rem;
          }
        }
      }

      .product {
        .entry-summary {
          gap: 3em;

          .price {
            font-size: initial;
          }

          .cart {
            .wp-element-button {
              font-size: initial;
            }

            .quantity {
              input {
                font-size: initial;
              }
            }
          }
        }

        .related {
          h2 {
            font-size: 2.5rem;
          }

          .wp-element-button {
            font-size: initial;
          }
        }
      }
    }

    /* Cart page */
    .woocommerce {
      .woocommerce-cart-form {
        table {
          width: 90%;

          tbody {
            .product-quantity {
              .quantity {
                input {
                  font-size: initial;
                }
              }
            }
          }
        }
      }

      .actions {
        label {
          font-size: initial;
        }

        .input-text,
        .submit {
          font-size: initial;
        }

        .wp-element-button {
          font-size: initial;
        }

        #update-cart-btn {
          font-size: initial;
        }
      }

      .cart-collaterals {
        .wc-proceed-to-checkout {
          font-size: initial;
        }
      }

      .checkout {
        #customer_details {
          .woocommerce-billing-fields,
          .woocommerce-shipping-fields {
            .form-row {
              justify-content: initial;
              align-items: initial;
            }
          }
        }

        #order_review {
          .woocommerce-checkout-payment {
            .place-order {
              button {
                font-size: 2rem;
              }
            }
          }
        }
      }
    }

    /* My Account Page */
    .woocommerce-account {
      .woocommerce {
        flex-direction: row;

        .woocommerce-MyAccount-content {
          padding: 0 12em 0 0;
        }
      }
    }

    .search-wrapper-hidden {
      .search-input-field {
        .placeholder-search-icon {
          top: 22px;
          left: 30px;
        }

        .close-icon {
          right: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: $iPadPro12) and (orientation: portrait) {
  html {
    .search-wrapper-hidden {
      .search-input-field {
        .placeholder-search-icon {
          top: 22px;
          left: 30px;
        }

        .close-icon {
          right: -5px;
        }
      }
    }
  }
}

@media screen and (min-width: $largeDesktop) {
  html {
    .site_header {
      .header-wrapper {
        .logo {
          left: 25px;
          top: 12px;
        }
      }
    }

    .content-area {
      .product {
        .entry-summary {
          gap: 3em;
        }
      }
    }

    .woocommerce {
      .checkout {
        #order_review {
          .woocommerce-checkout-payment {
            .place-order {
              button {
                font-size: initial;
              }
            }
          }
        }
      }
    }

    .search-wrapper-hidden {
      .search-input-field {
        .placeholder-search-icon {
          left: 40px;
        }
      }
    }
  }
}

@media screen and (min-width: $biggerScreen) {
  html {
    font-size: 120%;

    .site_header {
      .header-wrapper {
        .nav-container {
          // .dashicons-search {
          //   right: 170px;
          //   top: 20px;
          // }

          .nav-menu-wrapper {
            .menu-top-menu-container {
              ul {
                gap: 8em;
              }
            }
          }
        }
      }
    }

    .search-wrapper-hidden {
      .search-input-field {
        .placeholder-search-icon {
          left: 70px;
          top: 25px;
        }
      }
    }
  }
}

@media screen and (min-width: $biggerScreen2) {
  html {
    .search-wrapper-hidden {
      .search-input-field {
        .placeholder-search-icon {
          left: 100px;
        }
      }
    }
  }
}
