/* MOBILE */
@media screen and (min-width: 320px) {
  html {
    font-size: 60%;

    @import 'components/mobile-menu';

    .content-area {
      .homepage-title {
        margin-bottom: 2em;
      }

      /* Home page products */
      .products {
        gap: 10em;

        li {
          .price,
          .wp-element-button {
            font-size: 2rem;
          }
        }
      }

      /* Single product page */
      .product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .entry-summary {
          justify-content: center;
          align-items: center;
          gap: 3em;

          .price,
          .wp-element-button {
            font-size: 2rem;
            font-weight: bold;
          }

          .quantity {
            input {
              font-size: 2.5rem;
            }
          }

          form {
            gap: 2em;
          }
        }

        .related {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          h2 {
            font-size: 3rem;
            text-transform: capitalize;
          }

          .woocommerce-LoopProduct-link {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3em;
          }
        }
      }
    }

    /* Cart page */
    .woocommerce {
      table {
        thead {
          .product-name {
            display: none;
          }
        }

        tbody {
          .product-name {
            display: none;
          }

          .product-quantity {
            .quantity {
              input {
                font-size: 1.8rem;
              }
            }
          }
        }
      }

      .actions {
        label {
          font-size: 1.5rem;
        }

        .input-text,
        .submit {
          font-size: 1.8rem;
          box-shadow: 0 0 6px gray;
        }

        .wp-element-button {
          font-size: 1.8rem;
        }

        #update-cart-btn {
          margin-top: 4em;
          float: none;
          font-size: 1.8rem;
        }
      }

      .cart-collaterals {
        h2 {
          font-size: 3rem;
        }

        table {
          td {
            max-width: 5em;
          }
        }

        .wc-proceed-to-checkout {
          font-size: 2rem;
          text-transform: capitalize;
        }
      }

      .checkout {
        font-size: 1.2rem;

        #customer_details {
          flex-direction: column;
        }
      }
    }

    /* Search overlay */
    .search-wrapper-hidden {
      .search-input-field {
        .placeholder-search-icon {
          position: absolute;
          left: 0;
          top: 12px;
          font-size: 3rem;
          color: lightgray;
          margin-left: 1em;
        }

        .close-icon {
          position: absolute;
          top: 0;
          right: -10px;
          font-size: 2rem;
          opacity: 1;
          transition: opacity 0.4s ease-in;
        }

        input {
          font-size: 2.5rem;
          padding: 0.5em 0.5em 0.5em 2.2em;
        }
      }
    }
  }
}

@media screen and (min-width: 414px) {
  html {
    .search-wrapper-hidden {
      .search-input-field {
        .placeholder-search-icon {
          left: 10px;
        }
      }
    }
  }
}

/* MOBILE LANDSCAPE */
@media screen and (min-width: 480px) {
  html {
    .search-wrapper-hidden {
      .search-input-field {
        .placeholder-search-icon {
          left: 20px;
        }
      }
    }

    .woocommerce {
      table {
        width: 90%;
      }
    }
  }
}

/* TABLET */
@media screen and (min-width: 768px) and (orientation: portrait) {
  html {
    font-size: 100%;

    header {
      .header-wrapper {
        .nav-container {
          .dashicons-search {
            right: 205px;
            top: 8px;
          }

          .cart-icon-link {
            right: 80px;
            top: 10px;

            .cart-icon-wrapper {
              gap: 2em;
            }
          }

          .hamburger {
            right: 15px;
            top: 14px;
          }
        }
      }
    }

    .content-area {
      .products {
        li {
          img {
            width: 40em;
            height: 40em;
          }
        }
      }

      .product {
        flex-direction: column;
        flex-wrap: nowrap;

        .entry-summary {
          li {
            .price,
            .wp-element-button {
              font-size: 5rem;
            }
          }
        }
      }
    }

    .search-wrapper-hidden {
      .search-input-field {
        .placeholder-search-icon {
          top: 18px;
          margin-left: 1em;
        }

        .close-icon {
          top: 0;
          right: 0;
        }
      }
    }
  }
}

// IPAD PRO 10.5"
@media screen and (min-width: 834px) and (orientation: portrait) {
  html {
    .search-wrapper-hidden {
      .search-input-field {
        .placeholder-search-icon {
          font-size: 3.5rem;
          top: 35px;
          margin-left: 0.5em;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  html {
    .search-wrapper-hidden {
      .search-input-field {
        .placeholder-search-icon {
          top: 12px;
          left: 25px;
        }
      }
    }
  }
}

/* IPAD PRO */
@media screen and (min-width: 833px) and (orientation: portrait) {
  html {
    .search-wrapper-hidden {
      .search-input-field {
        .placeholder-search-icon {
          top: 18px;
        }
      }
    }
  }
}

/* DESKTOP & TABLET LANDSCAPE */
@media screen and (min-width: 992px) {
  html {
    header {
      box-shadow: none;
      background-color: transparent;

      .header-wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 0.5em;

        .logo {
          position: relative;
          top: 10px;
          left: 18px;
        }

        .nav-container {
          display: flex;
          justify-content: center;

          .nav-menu-wrapper {
            background-color: initial;
            position: relative;
            left: 290px;
            height: auto;
            width: fit-content;

            .menu-top-menu-container {
              ul {
                flex-direction: row;
                gap: 8em;

                li {
                  a {
                    font-size: 1.2rem;
                  }

                  &:nth-child(2) {
                    display: block;
                  }
                }
              }
            }
          }

          .hamburger {
            display: none;
          }

          .cart-icon-link {
            display: none;
          }

          .dashicons-search {
            position: relative;
            right: 30px;
            top: 11px;
            font-size: 1.5rem;
          }
        }
      }
    }

    .content-area {
      .products {
        gap: 6em;

        li {
          .price,
          .wp-element-button {
            font-size: initial;
          }
        }
      }

      .product {
        .entry-summary {
          gap: 3em;

          .price,
          .wp-element-button {
            font-size: initial;
          }

          .quantity {
            input {
              font-size: initial;
            }
          }

          form {
            gap: 2em;
          }
        }

        .related {
          h2 {
            font-size: 2.5rem;
          }
        }
      }
    }

    /* Cart page */
    .woocommerce {
      table {
        tbody {
          .product-quantity {
            .quantity {
              input {
                font-size: initial;
              }
            }
          }
        }
      }

      .actions {
        label {
          font-size: initial;
        }

        .input-text,
        .submit {
          font-size: initial;
        }

        .wp-element-button {
          font-size: initial;
        }

        #update-cart-btn {
          font-size: 1.2rem;
        }
      }

      .cart-collaterals {
        .wc-proceed-to-checkout {
          font-size: 1.5rem;
        }
      }
    }

    .search-wrapper-hidden {
      .search-input-field {
        .placeholder-search-icon {
          top: 13px;
        }

        input {
          font-size: 2rem;
          padding: 0.5em 0.5em 0.5em 2.8em;
        }
      }
    }
  }
}

// IPAD PRO 12.9"
@media screen and (min-width: 1024px) and (orientation: portrait) {
  html {
    .search-wrapper-hidden {
      .search-input-field {
        .placeholder-search-icon {
          font-size: 3.5rem;
          top: 8px;
          margin-left: 0.8em;
        }
      }
    }
  }
}

/* LARGE SCREENS */
@media screen and (min-width: 1200px) {
  html {
    font-size: 100%;

    header {
      .header-wrapper {
        .logo {
          left: 25px;
          top: 12px;
        }

        .nav-container {
          .nav-menu-wrapper {
            left: 370px;
          }

          .dashicons-search {
            right: 75px;
            top: 17px;
          }
        }
      }
    }

    .search-wrapper-hidden {
      .search-input-field {
        .placeholder-search-icon {
          top: 15px;
          left: 40px;
        }
      }
    }
  }
}

@media screen and (min-width: 2074px) {
  html {
    font-size: 120%;

    header {
      .header-wrapper {
        .nav-container {
          .dashicons-search {
            right: 190px;
            top: 20px;
          }

          .nav-menu-wrapper {
            .menu-top-menu-container {
              ul {
                gap: 7em;
              }
            }
          }
        }
      }
    }

    .search-wrapper-hidden {
      .search-input-field {
        .placeholder-search-icon {
          left: 70px;
        }
      }
    }
  }
}

@media screen and (min-width: 2559px) {
  html {
    header {
      .header-wrapper {
        .nav-container {
          .dashicons-search {
            right: 100px;
          }
        }
      }
    }

    .search-wrapper-hidden {
      .search-input-field {
        .placeholder-search-icon {
          left: 100px;
          top: 10px;
        }
      }
    }
  }
}
