@mixin button() {
  background-color: $secondary-color;
  padding: 1em;
  border-radius: 5px;
  border: none;
  color: #282828;
  margin-top: 2em;
  font-weight: bold;
  transform: translateY(0);
  transition: transform 0.4s ease;

  &:hover {
    transform: translateY(-2px);
  }
}

@mixin inputNumber($margin) {
  .quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    margin: $margin;
    width: fit-content;
    padding: 0.6em;

    .qty {
      background-color: transparent;
      border: none;
      outline: none;
      pointer-events: none;
      text-align: center;
      width: 3em;
    }

    // Remove arrows from input number
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      display: none;
    }

    .minus,
    .plus {
      background-color: transparent;
      border: none;
    }

    .minus:hover,
    .plus:hover {
      cursor: pointer;
    }
  }
}
