@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import 'mixins';
@import 'variables';

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #383838;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &.no-scroll {
    overflow: hidden;
  }

  @import 'components/header';

  .content-area {
    min-height: calc(100vh - 4em);
    background: $primary-color;

    .site-main {
      margin-top: 10em;

      .homepage-title {
        text-align: center;
        font-size: 3.5rem;
        font-family: 'Kalam', cursive;
      }

      a {
        text-decoration: none;
      }

      .woocommerce-breadcrumb {
        a {
          text-decoration: none;

          &:visited {
            color: #282828;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .woocommerce-notices-wrapper {
        margin-top: 1em;
        display: flex;
        justify-content: center;
        align-items: center;

        .woocommerce-message {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1em;

          a {
            text-decoration: underline;

            &:visited {
              color: #282828;
            }
          }
        }
      }

      @import 'components/home';
      @import 'components/single-product';
      @import './components/404';
    }
  }

  @import 'components/contact';

  .woocommerce {
    .woocommerce-notices-wrapper {
      display: none;
    }

    h2 {
      display: none;
    }

    .woocommerce-form-login {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .woocommerce-form-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;

        input {
          border: none;
          border-radius: 2px;
          padding: 0.5em;
          width: 15em;
        }
      }

      .form-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
      }

      button {
        width: 15em;
        border: none;
        border-radius: 2px;
        padding: 1em;
        font-weight: bold;
      }
    }
  }

  &.woocommerce-cart {
    @import 'components/cart';
  }

  &.woocommerce-checkout {
    @import 'components/checkout';
  }

  /* My Account Page */
  &.woocommerce-account {
    @import 'components/account';
  }

  /* Remove sidebar single product page */
  #sidebar {
    display: none;
  }

  @import 'components/footer';
  @import 'components/search-form';
}

@import 'media-queries';
