@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #383838;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* Remove sidebar single product page */
}
body.no-scroll {
  overflow: hidden;
}
body header {
  height: 4.5em;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  transition: top 0.6s ease-in-out;
}
body header.hide {
  top: -200px;
}
body header .header-wrapper {
  width: 100%;
}
body header .header-wrapper .nav-container .nav-menu-wrapper ul li {
  font-size: 1.3rem;
}
body header .header-wrapper .nav-container .nav-menu-wrapper ul li a {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.4s ease;
}
body header .header-wrapper .nav-container .nav-menu-wrapper ul li a:hover {
  color: gainsboro;
}
body header .header-wrapper .nav-container .nav-menu-wrapper ul li a:hover span {
  color: gainsboro;
}
body header .header-wrapper .dashicons-search {
  transition: color 0.4s ease;
}
body header .header-wrapper .dashicons-search:hover {
  cursor: pointer;
  color: gainsboro;
}
body .content-area {
  min-height: calc(100vh - 4em);
  background: linear-gradient(90deg, rgb(230, 204, 178) 0%, rgb(208, 200, 167) 100%);
  padding: 10em 3em;
}
body .content-area .homepage-title {
  text-align: center;
  font-size: 3.5rem;
  font-family: "Kalam", cursive;
}
body .content-area a {
  text-decoration: none;
}
body .content-area .woocommerce-breadcrumb a {
  text-decoration: none;
}
body .content-area .woocommerce-breadcrumb a:visited {
  color: #282828;
}
body .content-area .woocommerce-breadcrumb a:hover {
  text-decoration: underline;
}
body .content-area .woocommerce-notices-wrapper {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .content-area .woocommerce-notices-wrapper .woocommerce-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
body .content-area .woocommerce-notices-wrapper .woocommerce-message a {
  text-decoration: underline;
}
body .content-area .woocommerce-notices-wrapper .woocommerce-message a:visited {
  color: #282828;
}
body .content-area .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 6em 1em;
  gap: 4em;
}
body .content-area .products li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  transition: transform 0.8s ease;
}
body .content-area .products li.fade-in {
  transform: translateY(-80px);
}
body .content-area .products li .woocommerce-LoopProduct-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  color: #282828;
}
body .content-area .products li .woocommerce-LoopProduct-link .woocommerce-loop-product__title {
  display: none;
}
body .content-area .products li .woocommerce-LoopProduct-link .price {
  font-weight: bold;
}
body .content-area .products li .wp-element-button {
  background-color: rgba(245, 245, 245, 0.6);
  padding: 1em;
  border-radius: 5px;
  border: none;
  color: #282828;
  box-shadow: 0 0 6px gray;
  margin-top: 2em;
  font-weight: bold;
  transform: translateY(0);
  transition: transform 0.4s ease;
}
body .content-area .products li .wp-element-button:hover {
  transform: translateY(-2px);
}
body .content-area .products li img {
  border-radius: 2px;
  transition: transform 0.8s ease;
}
body .content-area .products li img:hover {
  transform: scale(1.03);
}
body .content-area .products li .added_to_cart {
  margin: 1em;
  color: #282828;
}
body .content-area .product {
  margin-top: 3em;
}
body .content-area .product .woocommerce-product-gallery__image {
  display: flex;
  justify-content: center;
}
body .content-area .product .woocommerce-product-gallery__image a img {
  border-radius: 2px;
  width: 100%;
  height: 100%;
}
body .content-area .product .entry-summary {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
body .content-area .product .entry-summary form {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 2em;
}
body .content-area .product .entry-summary form .quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 5px;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.6em;
}
body .content-area .product .entry-summary form .quantity .qty {
  background-color: transparent;
  border: none;
  outline: none;
  pointer-events: none;
  text-align: center;
  width: 2em;
}
body .content-area .product .entry-summary form .quantity input::-webkit-outer-spin-button,
body .content-area .product .entry-summary form .quantity input::-webkit-inner-spin-button {
  display: none;
}
body .content-area .product .entry-summary form .quantity .minus,
body .content-area .product .entry-summary form .quantity .plus {
  background-color: transparent;
  border: none;
}
body .content-area .product .entry-summary form .quantity .minus:hover,
body .content-area .product .entry-summary form .quantity .plus:hover {
  cursor: pointer;
}
body .content-area .product .entry-summary form .wp-element-button {
  background-color: rgba(245, 245, 245, 0.6);
  padding: 1em;
  border-radius: 5px;
  border: none;
  color: #282828;
  box-shadow: 0 0 6px gray;
  margin-top: 2em;
  font-weight: bold;
  transform: translateY(0);
  transition: transform 0.4s ease;
  margin: 0;
}
body .content-area .product .entry-summary form .wp-element-button:hover {
  transform: translateY(-2px);
}
body .content-area .product .entry-summary .product_meta {
  display: none;
}
body .content-area .product .tabs {
  display: none;
}
body .woocommerce {
  min-height: calc(100vh - 4em);
  width: 100vw;
  background: linear-gradient(90deg, rgb(230, 204, 178) 0%, rgb(208, 200, 167) 100%);
  padding: 8em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .woocommerce a {
  color: #282828;
}
body .woocommerce form {
  margin-top: 4em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
body .woocommerce form table {
  border-collapse: separate;
  border-spacing: 1em 1em;
}
body .woocommerce form table tbody a {
  text-decoration: none;
}
body .woocommerce form table tbody a:visited {
  color: #282828;
}
body .woocommerce form table tbody a:hover {
  text-decoration: underline;
}
body .woocommerce form table tbody tr .remove {
  text-decoration: none;
}
body .woocommerce form table tbody tr .remove .dashicons-trash {
  color: #282828;
  transition: transform 0.4s ease-in-out;
}
body .woocommerce form table tbody tr .remove .dashicons-trash:hover {
  transform: scale(1.1);
}
body .woocommerce form table tbody tr .product-thumbnail img {
  width: 4em;
  height: 4em;
  border-radius: 2px;
  transition: transform 0.8s ease;
}
body .woocommerce form table tbody tr .product-thumbnail img:hover {
  transform: scale(1.03);
}
body .woocommerce form table tbody tr td {
  text-align: center;
}
body .woocommerce form table tbody tr td button {
  padding: 0.6em;
  border-radius: 2px;
  border: none;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}
body .woocommerce form table tbody tr td button:hover {
  opacity: 0.8;
}
body .woocommerce form table tbody tr td .quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 5px;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.6em;
}
body .woocommerce form table tbody tr td .quantity .qty {
  background-color: transparent;
  border: none;
  outline: none;
  pointer-events: none;
  text-align: center;
  width: 2em;
}
body .woocommerce form table tbody tr td .quantity input::-webkit-outer-spin-button,
body .woocommerce form table tbody tr td .quantity input::-webkit-inner-spin-button {
  display: none;
}
body .woocommerce form table tbody tr td .quantity .minus,
body .woocommerce form table tbody tr td .quantity .plus {
  background-color: transparent;
  border: none;
}
body .woocommerce form table tbody tr td .quantity .minus:hover,
body .woocommerce form table tbody tr td .quantity .plus:hover {
  cursor: pointer;
}
body .woocommerce form table tbody tr .coupon {
  margin-top: 4em;
}
body .woocommerce form table tbody tr .coupon #coupon_code {
  padding: 0.6em;
  border-radius: 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  margin: 1em;
}
body .woocommerce form table tbody tr .wp-element-button {
  margin-top: 2em;
  box-shadow: 0 0 6px gray;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.6);
  transition: transform 0.2s ease;
}
body .woocommerce form table tbody tr .wp-element-button:hover {
  transform: translateY(-2px);
}
body .woocommerce form table tbody tr #update-cart-btn {
  width: 15em;
  padding: 1em;
  float: right;
  font-weight: bold;
}
body .woocommerce form table tbody tr #update-cart-btn.active {
  border: 3px solid green;
}
body .woocommerce hr {
  margin-top: 4em;
  width: 80%;
  border: 0.5px solid gray;
}
body .woocommerce .cart-collaterals {
  margin-bottom: 10em;
}
body .woocommerce .cart-collaterals .cart_totals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
}
body .woocommerce .cart-collaterals .cart_totals h2 {
  text-align: center;
  font-size: 2rem;
  margin: 3em;
}
body .woocommerce .cart-collaterals .cart_totals table {
  border-radius: 5px;
  width: 90%;
  box-shadow: 0 0 5px gray;
  background: rgba(245, 245, 245, 0.6);
  border-collapse: collapse;
}
body .woocommerce .cart-collaterals .cart_totals table tr th {
  border: 0.5px solid gray;
  padding: 1em;
}
body .woocommerce .cart-collaterals .cart_totals table tr td {
  border: 0.5px solid gray;
  padding: 1em;
}
body .woocommerce .cart-collaterals .cart_totals table tr td .woocommerce-shipping-calculator {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
body .woocommerce .cart-collaterals .cart_totals table tr td .woocommerce-shipping-calculator .shipping-calculator-form {
  width: 100%;
  padding: 0.5em;
}
body .woocommerce .cart-collaterals .cart_totals table tr td .woocommerce-shipping-calculator .shipping-calculator-form input,
body .woocommerce .cart-collaterals .cart_totals table tr td .woocommerce-shipping-calculator .shipping-calculator-form button {
  border: none;
  padding: 0.5em;
  border-radius: 2px;
  width: 100%;
}
body .woocommerce .cart-collaterals .cart_totals table tr ul li {
  list-style-type: none;
}
body .woocommerce .cart-collaterals .cart_totals table tr form {
  justify-content: flex-start;
}
body .woocommerce .cart-collaterals .cart_totals .wc-proceed-to-checkout {
  text-align: center;
  margin-top: 5em;
  transform: translateY(0);
  transition: transform 0.4s ease;
}
body .woocommerce .cart-collaterals .cart_totals .wc-proceed-to-checkout a {
  text-decoration: none;
  background-color: rgba(245, 245, 245, 0.6);
  padding: 1em;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 3px 2px -2px gray;
}
body .woocommerce .cart-collaterals .cart_totals .wc-proceed-to-checkout:hover {
  transform: translateY(-2px);
}
body .woocommerce .checkout_coupon {
  display: flex;
  flex-direction: column;
}
body .woocommerce .checkout_coupon input {
  border: none;
  border-radius: 2px;
  padding: 0.5em;
}
body .woocommerce .checkout_coupon button {
  background-color: rgba(245, 245, 245, 0.6);
  padding: 1em;
  border-radius: 5px;
  border: none;
  color: #282828;
  box-shadow: 0 0 6px gray;
  margin-top: 2em;
  font-weight: bold;
  transform: translateY(0);
  transition: transform 0.4s ease;
}
body .woocommerce .checkout_coupon button:hover {
  transform: translateY(-2px);
}
body .woocommerce .checkout {
  margin-top: 4em;
  padding: 3em 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  background: rgba(245, 245, 245, 0.6);
  border-radius: 5px;
  width: 70vw;
  box-shadow: 0 0 5px gray;
}
body .woocommerce .checkout h3 {
  margin-bottom: 2em;
  font-size: 1.5rem;
}
body .woocommerce .checkout #customer_details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4em;
  width: 100%;
}
body .woocommerce .checkout #customer_details .woocommerce-billing-fields .form-row,
body .woocommerce .checkout #customer_details .woocommerce-shipping-fields__field-wrapper .form-row {
  display: flex;
  flex-direction: column;
  width: 100%;
}
body .woocommerce .checkout #customer_details .woocommerce-billing-fields .form-row label,
body .woocommerce .checkout #customer_details .woocommerce-shipping-fields__field-wrapper .form-row label {
  margin-bottom: 0.5em;
}
body .woocommerce .checkout #customer_details .woocommerce-billing-fields .form-row .woocommerce-input-wrapper,
body .woocommerce .checkout #customer_details .woocommerce-shipping-fields__field-wrapper .form-row .woocommerce-input-wrapper {
  margin-top: 0.5em;
}
body .woocommerce .checkout #customer_details .woocommerce-billing-fields .form-row input,
body .woocommerce .checkout #customer_details .woocommerce-shipping-fields__field-wrapper .form-row input {
  padding: 0.5em;
  border-bottom: 0.5px solid;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
  outline: none;
}
body .woocommerce .checkout #customer_details .notes {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
body .woocommerce .checkout #customer_details .notes textarea {
  width: 100%;
  height: 8em;
  padding: 0.5em;
  resize: none;
  border-radius: 2px;
  border: none;
}
body .woocommerce .checkout #order_review .place-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
body .woocommerce .checkout #order_review .place-order button {
  background-color: rgba(245, 245, 245, 0.6);
  padding: 1em;
  border-radius: 5px;
  border: none;
  color: #282828;
  box-shadow: 0 0 6px gray;
  margin-top: 2em;
  font-weight: bold;
  transform: translateY(0);
  transition: transform 0.4s ease;
  font-weight: bold;
  font-size: 1.2rem;
  width: 20em;
  background-color: rgba(245, 245, 245, 0.6);
  box-shadow: 0 3px 2px -2px gray;
}
body .woocommerce .checkout #order_review .place-order button:hover {
  transform: translateY(-2px);
}
body footer {
  background: linear-gradient(90deg, rgb(230, 204, 178) 0%, rgb(208, 200, 167) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2em;
  width: 100%;
}
body footer .sm-icons-footer {
  display: flex;
  gap: 2em;
}
body footer .sm-icons-footer a {
  text-decoration: none;
  transition: transform 0.4s ease;
}
body footer .sm-icons-footer a:hover {
  transform: scale(1.1);
}
body footer span {
  font-weight: bold;
}
body footer .privacy-policy-link {
  text-decoration: none;
  transition: color 0.4s ease;
}
body footer .privacy-policy-link:hover {
  color: gainsboro;
}
body .search-wrapper-hidden {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  left: 0;
  border: none;
  border-radius: 5px;
  padding: 2.5em;
  width: 100vw;
  height: 100vh;
  box-shadow: 0 3px 3px -1px gray;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
body .search-wrapper-hidden .search-input-field {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .search-wrapper-hidden .search-input-field .close-icon {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}
body .search-wrapper-hidden .search-input-field .close-icon:hover {
  cursor: pointer;
  opacity: 0.8;
}
body .search-wrapper-hidden .search-input-field input {
  border: none;
  border-radius: 30px;
  width: 90%;
  box-shadow: 0 0 6px gray;
}
body .search-wrapper-hidden .search-input-field input::-moz-placeholder {
  color: lightgray;
}
body .search-wrapper-hidden .search-input-field input:-ms-input-placeholder {
  color: lightgray;
}
body .search-wrapper-hidden .search-input-field input::placeholder {
  color: lightgray;
}
body .search-wrapper-hidden .search-results {
  padding: 5em 2em;
}
@-webkit-keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
body .search-wrapper-hidden .search-results .spinner {
  margin: 0 auto;
  border: 8px solid rgb(228, 203, 177);
  border-radius: 50%;
  border-bottom-color: white;
  width: 8em;
  height: 8em;
  -webkit-animation: spinner 0.6s linear infinite;
          animation: spinner 0.6s linear infinite;
}
body .search-wrapper-hidden .search-results p {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
body .search-wrapper-hidden .search-results ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 3em;
  padding: 0;
  margin: 0;
}
body .search-wrapper-hidden .search-results ul li {
  list-style-type: none;
}
body .search-wrapper-hidden .search-results ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  text-decoration: none;
  transition: transform 0.3s ease;
}
body .search-wrapper-hidden .search-results ul li a img {
  border-radius: 2px;
  width: 15em;
}
body .search-wrapper-hidden .search-results ul li a:hover {
  transform: scale(1.01);
}
body .search-wrapper-hidden.show {
  opacity: 1;
  z-index: 10;
}
body #sidebar {
  display: none;
}

/* MOBILE */
@media screen and (min-width: 320px) {
  html {
    font-size: 50%;
  }
  html header {
    background-color: #e7dfcc;
    box-shadow: 0 5px 5px -5px black;
  }
  html header .header-wrapper .logo {
    width: 8em;
    position: absolute;
    left: 8px;
    top: 10px;
  }
  html header .header-wrapper .logo img {
    width: 100%;
  }
  html header .header-wrapper .nav-container .nav-menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 203, 177);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
  }
  html header .header-wrapper .nav-container .nav-menu-wrapper .menu-top-menu-container ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18em;
  }
  html header .header-wrapper .nav-container .nav-menu-wrapper .menu-top-menu-container ul li {
    list-style-type: none;
    transform: translateX(-100px);
    transition: transform 0.5s ease;
  }
  html header .header-wrapper .nav-container .nav-menu-wrapper .menu-top-menu-container ul li a {
    font-size: 2.5rem;
  }
  html header .header-wrapper .nav-container .nav-menu-wrapper .menu-top-menu-container ul li:nth-child(2) {
    display: none;
  }
  html header .header-wrapper .nav-container .nav-menu-wrapper .menu-top-menu-container ul li.current_page_item a,
html header .header-wrapper .nav-container .nav-menu-wrapper .menu-top-menu-container ul li.current_page_item span {
    color: whitesmoke;
  }
  html header .header-wrapper .nav-container .nav-menu-wrapper.open {
    transform: translateX(0);
  }
  html header .header-wrapper .nav-container .nav-menu-wrapper.open ul li {
    transform: translateX(0);
  }
  html header .header-wrapper .nav-container .nav-menu-wrapper.open ul li:nth-child(1) {
    transition-delay: 100ms;
  }
  html header .header-wrapper .nav-container .nav-menu-wrapper.open ul li:nth-child(3) {
    transition-delay: 200ms;
  }
  html header .header-wrapper .nav-container .dashicons-search {
    position: absolute;
    right: 105px;
    top: 7.5px;
    font-size: 3.5rem;
  }
  html header .header-wrapper .nav-container .cart-icon-link {
    text-decoration: none;
    position: absolute;
    right: 45px;
    top: 8.5px;
  }
  html header .header-wrapper .nav-container .cart-icon-link .cart-icon-wrapper {
    display: flex;
    gap: 0.8em;
    width: 5em;
  }
  html header .header-wrapper .nav-container .cart-icon-link .cart-icon-wrapper .dashicons-cart {
    font-size: 3rem;
    align-self: flex-start;
  }
  html header .header-wrapper .nav-container .cart-icon-link .cart-icon-wrapper .product-count {
    font-size: 3rem;
    position: relative;
    bottom: 2px;
    align-self: flex-end;
  }
  html header .header-wrapper .nav-container .hamburger {
    position: absolute;
    top: 8px;
    right: 10px;
    z-index: 20;
    width: 3em;
    height: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    rotate: 0deg;
    transition: rotate 0.2s linear;
  }
  html header .header-wrapper .nav-container .hamburger div {
    position: absolute;
    background-color: black;
    border-radius: 5px;
    width: 100%;
    height: 2px;
    transition: opacity 0.2s linear;
  }
  html header .header-wrapper .nav-container .hamburger::before {
    position: absolute;
    content: "";
    background-color: black;
    border-radius: 5px;
    width: 100%;
    height: 2px;
    transform: translateY(8px);
    transition: transform 0.2s linear;
  }
  html header .header-wrapper .nav-container .hamburger::after {
    position: absolute;
    content: "";
    background-color: black;
    border-radius: 5px;
    width: 100%;
    height: 2px;
    transform: translateY(-8px);
    transition: transform 0.2s linear;
  }
  html header .header-wrapper .nav-container .hamburger.active {
    rotate: 180deg;
  }
  html header .header-wrapper .nav-container .hamburger.active div {
    opacity: 0;
  }
  html header .header-wrapper .nav-container .hamburger.active::before {
    transform: rotate(45deg);
  }
  html header .header-wrapper .nav-container .hamburger.active:after {
    transform: rotate(-45deg);
  }
  html .content-area .homepage-title {
    margin-bottom: 2em;
  }
  html .woocommerce table thead .product-name {
    display: none;
  }
  html .woocommerce table tbody .product-name {
    display: none;
  }
  html .woocommerce .actions #update-cart-btn {
    margin-top: 4em;
    float: none;
  }
  html .woocommerce .cart-collaterals table td {
    max-width: 5em;
  }
  html .woocommerce .checkout #customer_details {
    flex-direction: column;
  }
  html .search-wrapper-hidden .search-input-field .placeholder-search-icon {
    position: absolute;
    left: 0;
    top: 12px;
    font-size: 3rem;
    color: lightgray;
    margin-left: 1em;
  }
  html .search-wrapper-hidden .search-input-field .close-icon {
    position: absolute;
    top: 0;
    right: -10px;
    font-size: 2rem;
    opacity: 1;
    transition: opacity 0.4s ease-in;
  }
  html .search-wrapper-hidden .search-input-field input {
    font-size: 2.5rem;
    padding: 0.5em 0.5em 0.5em 2.2em;
  }
}
@media screen and (min-width: 414px) {
  html .search-wrapper-hidden .search-input-field .placeholder-search-icon {
    left: 10px;
  }
}
/* MOBILE LANDSCAPE */
@media screen and (min-width: 480px) {
  html .search-wrapper-hidden .search-input-field .placeholder-search-icon {
    left: 20px;
  }
  html .woocommerce table {
    width: 90%;
  }
}
/* TABLET */
@media screen and (min-width: 768px) and (orientation: portrait) {
  html {
    font-size: 80%;
  }
  html header .header-wrapper .nav-container .dashicons-search {
    right: 175px;
  }
  html header .header-wrapper .nav-container .cart-icon-link {
    right: 72px;
  }
  html header .header-wrapper .nav-container .cart-icon-link .cart-icon-wrapper {
    gap: 2em;
  }
  html header .header-wrapper .nav-container .hamburger {
    right: 20px;
    top: 10px;
  }
  html .search-wrapper-hidden .search-input-field .placeholder-search-icon {
    top: 18px;
    margin-left: 1em;
  }
  html .search-wrapper-hidden .search-input-field .close-icon {
    top: 0;
    right: 0;
  }
}
@media screen and (min-width: 834px) and (orientation: portrait) {
  html .search-wrapper-hidden .search-input-field .placeholder-search-icon {
    font-size: 3.5rem;
    top: 35px;
    margin-left: 0.5em;
  }
}
@media screen and (min-width: 800px) {
  html .search-wrapper-hidden .search-input-field .placeholder-search-icon {
    top: 12px;
    left: 25px;
  }
}
/* IPAD PRO */
@media screen and (min-width: 833px) and (orientation: portrait) {
  html .search-wrapper-hidden .search-input-field .placeholder-search-icon {
    top: 18px;
  }
}
/* DESKTOP & TABLET LANDSCAPE */
@media screen and (min-width: 992px) {
  html {
    font-size: 90%;
  }
  html header {
    box-shadow: none;
    background-color: transparent;
  }
  html header .header-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5em;
  }
  html header .header-wrapper .logo {
    position: relative;
    top: 10px;
    left: 18px;
  }
  html header .header-wrapper .nav-container {
    display: flex;
    justify-content: center;
  }
  html header .header-wrapper .nav-container .nav-menu-wrapper {
    background-color: initial;
    position: relative;
    left: 290px;
    height: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  html header .header-wrapper .nav-container .nav-menu-wrapper .menu-top-menu-container ul {
    flex-direction: row;
    gap: 4em;
  }
  html header .header-wrapper .nav-container .nav-menu-wrapper .menu-top-menu-container ul li a {
    font-size: 1.2rem;
  }
  html header .header-wrapper .nav-container .nav-menu-wrapper .menu-top-menu-container ul li:nth-child(2) {
    display: block;
  }
  html header .header-wrapper .nav-container .hamburger {
    display: none;
  }
  html header .header-wrapper .nav-container .cart-icon-link {
    display: none;
  }
  html header .header-wrapper .nav-container .dashicons-search {
    position: relative;
    right: 50px;
    top: 15px;
    font-size: 1.5rem;
  }
  html .search-wrapper-hidden .search-input-field .placeholder-search-icon {
    top: 13px;
  }
  html .search-wrapper-hidden .search-input-field input {
    font-size: 2rem;
    padding: 0.5em 0.5em 0.5em 2.8em;
  }
}
@media screen and (min-width: 1024px) and (orientation: portrait) {
  html .search-wrapper-hidden .search-input-field .placeholder-search-icon {
    font-size: 3.5rem;
    top: 8px;
    margin-left: 0.8em;
  }
}
/* LARGE SCREENS */
@media screen and (min-width: 1200px) {
  html {
    font-size: 100%;
  }
  html header .header-wrapper .logo {
    left: 25px;
    top: 12px;
  }
  html header .header-wrapper .nav-container .nav-menu-wrapper {
    left: 300px;
  }
  html header .header-wrapper .nav-container .dashicons-search {
    right: 70px;
    top: 18px;
  }
  html main {
    margin-top: -1em;
  }
  html .search-wrapper-hidden .search-input-field .placeholder-search-icon {
    top: 15px;
    left: 40px;
  }
}
@media screen and (min-width: 2074px) {
  html .content-area {
    padding: 10em;
  }
  html .search-wrapper-hidden .search-input-field .placeholder-search-icon {
    left: 70px;
  }
}
@media screen and (min-width: 2559px) {
  html .search-wrapper-hidden .search-input-field .placeholder-search-icon {
    left: 100px;
    top: 10px;
  }
}/*# sourceMappingURL=style.css.map */