a {
  color: #282828;
}

form {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4em 0 5em 0;
  border-radius: 2px;

  table {
    width: 80%;
    border-collapse: separate;
    border-spacing: 1em 1em;

    tbody {
      a {
        text-decoration: none;

        &:visited {
          color: #282828;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      tr {
        .remove {
          text-decoration: none;

          .dashicons-trash {
            color: #282828;
            transition: transform 0.4s ease-in-out;

            &:hover {
              transform: scale(1.1);
            }
          }
        }

        .product-thumbnail {
          img {
            width: 5em;
            height: 5em;
            border-radius: 2px;
            transition: transform 0.8s ease;

            &:hover {
              transform: scale(1.03);
            }
          }
        }

        td {
          text-align: center;

          button {
            padding: 0.6em;
            border-radius: 2px;
            border: none;
            opacity: 1;
            transition: opacity 0.4s ease-in-out;

            &:hover {
              opacity: 0.8;
            }
          }

          @include inputNumber(0 auto);
        }

        .coupon {
          margin-top: 4em;

          #coupon_code {
            padding: 0.6em;
            border-radius: 3px;
            width: fit-content;
            border: none;
            margin: 1em;
          }
        }

        .wp-element-button {
          margin-top: 2em;
          box-shadow: 0 3px 2px -2px gray;
          border-radius: 5px;
          opacity: 0.9;
          background-color: $secondary-color;

          &:hover {
            opacity: 1;
          }
        }

        #update-cart-btn {
          width: 15em;
          padding: 1em;
          float: right;
          font-weight: bold;

          &.active {
            border: 3px solid green;
          }

          transition: background-color 0.5s ease-in-out;

          &:hover {
            background-color: green;
          }
        }
      }
    }
  }
}

hr {
  width: 90%;
  border: 0.5px solid gray;
}

@import 'cart-total';
