a {
  color: #282828;
}

form {
  margin-top: 4em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;

  table {
    border-collapse: separate;
    border-spacing: 1em 1em;

    tbody {
      a {
        text-decoration: none;

        &:visited {
          color: #282828;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      tr {
        .remove {
          text-decoration: none;

          .dashicons-trash {
            color: #282828;
            transition: transform 0.4s ease-in-out;

            &:hover {
              transform: scale(1.1);
            }
          }
        }

        .product-thumbnail {
          img {
            width: 4em;
            height: 4em;
            border-radius: 2px;
            transition: transform 0.8s ease;

            &:hover {
              transform: scale(1.03);
            }
          }
        }

        td {
          text-align: center;

          button {
            padding: 0.6em;
            border-radius: 2px;
            border: none;
            opacity: 1;
            transition: opacity 0.4s ease-in-out;

            &:hover {
              opacity: 0.8;
            }
          }

          @include inputNumber(0 auto);
        }

        .coupon {
          margin-top: 4em;

          #coupon_code {
            padding: 0.6em;
            border-radius: 3px;
            width: fit-content;
            border: none;
            margin: 1em;
          }
        }

        .wp-element-button {
          margin-top: 2em;
          box-shadow: 0 0 6px gray;
          border-radius: 5px;
          background-color: $secondary-color;
          transition: transform 0.2s ease;

          &:hover {
            transform: translateY(-2px);
          }
        }

        #update-cart-btn {
          width: 15em;
          padding: 1em;
          float: right;
          font-weight: bold;

          &.active {
            border: 3px solid green;
          }
        }
      }
    }
  }
}

hr {
  margin-top: 4em;
  width: 80%;
  border: 0.5px solid gray;
}

@import 'cart-total';
