&.page-id-68 {
  background: linear-gradient(
    90deg,
    rgba(230, 204, 178, 1) 0%,
    rgba(208, 200, 167, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  h1 {
    text-align: center;
    margin-top: 4em;
    font-size: 3rem;
    font-family: 'Kalam', cursive;
  }

  .contact-container {
    margin-top: 4em;
    margin-bottom: 8em;

    .wpforms-container {
      flex: 40%;

      form {
        .submit-btn {
          background-color: burlywood;
          font-weight: bold;

          transition: background-color 0.4s ease !important;

          &:hover {
            background-color: brown !important;
          }
        }
      }
    }

    .image-wrapper {
      flex: 60%;

      img {
        width: 100%;
      }
    }
  }
}
