footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  height: 8em;
  background-color: whitesmoke;
  padding: 2em;
  width: 100%;
  box-shadow: 0 -3px 3px gray;

  .sm-icons-footer {
    display: flex;
    gap: 2em;

    a {
      text-decoration: none;
      transition: transform 0.4s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  li {
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  span {
    font-weight: bold;
  }
}
