header {
  background-color: white;
  height: 4.5em;
  width: 100%;
  box-shadow: 0 3px 3px -1px gray;
  position: fixed;
  z-index: 2;
  top: 0;
  transition: top 0.6s ease-in-out;

  &.hide {
    top: -200px;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3em;

    .nav-container {
      .nav-menu-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 3em;

          li {
            list-style-type: none;
            font-size: 1.3rem;

            a {
              text-decoration: none;
              font-weight: bold;
              transition: color 0.2s ease;

              &:hover {
                color: gainsboro;
              }
            }

            &.current_page_item {
              a,
              span {
                text-decoration: underline;
                text-underline-offset: 15px;
                text-decoration-thickness: 3px;
              }
            }

            .dashicons-cart {
              padding-top: 3px;
            }
          }
        }
      }
    }

    .dashicons-search {
      font-size: 1.6rem;
      transition: transform 0.4s ease-in-out;

      &:hover {
        cursor: pointer;
        transform: scale(1.03);
      }
    }
  }
}
