.site_header {
  height: 4.5em;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  transition: top 0.6s ease-in-out;

  &.hide {
    top: -200px;
  }

  .header-wrapper {
    width: 100%;

    .nav-container {
      .nav-menu-wrapper {
        ul {
          li {
            font-size: 1.3rem;

            a {
              text-decoration: none;
              font-weight: bold;
              transition: color 0.4s ease;

              &:hover {
                color: whitesmoke;
              }

              &:hover {
                span {
                  color: whitesmoke;
                }
              }
            }
          }
        }
      }
    }

    .dashicons-search {
      transition: color 0.4s ease;

      &:hover {
        cursor: pointer;
        color: gainsboro;
      }
    }
  }
}
