.site_header {
  height: 4.5em;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  transition: top 0.6s ease-in-out;

  &.hide {
    top: -200px;
  }

  .header-wrapper {
    width: 100%;

    .nav-container {
      .nav-menu-wrapper {
        display: flex;

        ul {
          li {
            font-size: 1.3rem;

            a {
              text-decoration: none;
              font-weight: bold;
              position: relative;
              transition: color 0.4s ease;

              &:after {
                content: '';
                position: absolute;
                width: 0;
                height: 3px;
                display: block;
                margin-top: 6px;
                right: 0;
                background-color: whitesmoke;
                transition: width 0.4s ease;
                -webkit-transition: width 0.4s ease;
              }

              &:hover {
                color: whitesmoke;
              }

              &:hover:after {
                width: 100%;
                left: 0;
              }

              &:hover {
                span {
                  color: whitesmoke;
                }
              }
            }

            &.current_page_item {
              a,
              span {
                color: whitesmoke;
              }

              a:after {
                width: 100%;
                left: 0;
              }
            }
          }
        }
      }

      .dashicons-search {
        transition: color 0.4s ease;

        &:hover {
          cursor: pointer;
          color: gainsboro;
        }
      }
    }
  }
}
