.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 6em 1em;
  margin-top: 8em;

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    transition: transform 0.8s ease;

    // Animate on scroll
    &.fade-in {
      transform: translateY(-80px);
    }

    .woocommerce-LoopProduct-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2em;
      color: #282828;

      .woocommerce-loop-product__title {
        display: none;
      }

      .price {
        font-weight: bold;
      }
    }

    .wp-element-button {
      @include button();
    }

    img {
      border-radius: 2px;
      transition: transform 0.8s ease;

      &:hover {
        transform: scale(1.03);
      }
    }

    .added_to_cart {
      margin: 1em;
      color: #282828;
    }
  }
}
