.products {
  display: flex;
  flex-wrap: wrap;
  gap: 6em;
  justify-content: center;
  align-items: center;

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .woocommerce-LoopProduct-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1em;
      color: #282828;
    }

    .wp-element-button {
      @include button();
    }

    img {
      border-radius: 2px;
      transition: transform 0.8s ease;

      &:hover {
        transform: scale(1.03);
      }
    }

    .added_to_cart {
      margin: 1em;
      color: #282828;
    }
  }
}
