.content-area {
  min-height: calc(100vh - 4em);
  background: linear-gradient(
    90deg,
    rgba(230, 204, 178, 1) 0%,
    rgba(208, 200, 167, 1) 100%
  );

  padding: 10em 3em;

  a {
    text-decoration: none;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    gap: 6em;
    justify-content: center;
    align-items: center;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .woocommerce-LoopProduct-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #282828;
      }

      .wp-element-button {
        background-color: gainsboro;
        padding: 1em;
        border-radius: 2px;
        color: #282828;
        margin-top: 1em;
        box-shadow: 0 3px 2px -2px gray;
        opacity: 1;
        transition: opacity 0.4s ease-in-out;

        &:hover {
          opacity: 0.8;
        }
      }

      img {
        border-radius: 2px;
        transition: transform 0.8s ease;

        &:hover {
          transform: scale(1.03);
        }
      }

      .button {
        transition: transform 0.4s ease;

        &:hover {
          transform: translateY(-2px);
        }
      }

      .added_to_cart {
        margin: 1em;
        color: #282828;
      }
    }
  }
}
