main {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    background-image: url('../images/hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    h1 {
      color: white;
      font-size: 4rem;
    }
  }
}
