.search-wrapper {
  display: none;
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  border: none;
  border-radius: 5px;
  padding: 2.5em;
  width: 100vw;
  box-shadow: 0 3px 3px -1px gray;

  input {
    width: 95%;
    padding: 1em;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
  }

  span {
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 1.5rem;

    &:hover {
      cursor: pointer;
    }
  }

  &.show {
    display: block;
  }
}
