.product {
  margin-top: 3em;

  .woocommerce-product-gallery__image {
    width: 100vw;
    a {
      img {
        border-radius: 2px;
        width: 70%;
        height: 70%;
      }
    }
  }

  .entry-summary {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    form {
      display: flex;
      width: fit-content;
      gap: 2em;

      @include inputNumber(0);

      .wp-element-button {
        @include button();
        margin: 0;
      }
    }

    .product_meta {
      display: none;
    }
  }

  .tabs {
    display: none;
  }
}
